body{
    color: red;
}
header{
    height: 250px;
    outline: 1px solid red;
    background-size: cover;
    width: 1400px;
    background: url(https://picsum.photos/1400/250/?random=10) center center no-repeat;
}
header h1{
    padding-left: 50px;
    margin: 0;
    padding-top: 20px;
}